<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="folderpath" value="D:\iba\"></add>
    <add key="folderstructure" value="yyyyMMdd"></add>
    <add key="plant" value="1"></add>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsitisconicSoap" closeTimeout="00:10:00" openTimeout="00:10:00"
  receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="655369999" maxBufferPoolSize="5242889999" maxReceivedMessageSize="655369999"
  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered">
          <security mode="Transport" />
        </binding>
        <binding name="wsitisconicSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="wsitisconicSoap12" closeTimeout="00:10:00" openTimeout="00:10:00"
  receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="655369999" maxBufferPoolSize="5242889999" maxReceivedMessageSize="655369999">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://tslappsqa.tatasteel.co.in/ptg_services/wsitisconic.asmx"
          binding="basicHttpBinding" bindingConfiguration="wsitisconicSoap"
          contract="myservice.wsitisconicSoap" name="wsitisconicSoap" />
      <endpoint address="https://tslappsqa.tatasteel.co.in/ptg_services/wsitisconic.asmx"
          binding="customBinding" bindingConfiguration="wsitisconicSoap12"
          contract="myservice.wsitisconicSoap" name="wsitisconicSoap12" />
    </client>
  </system.serviceModel>
</configuration>